$primary: #202f3d;
$secondary: #2c3e50;
$accent: #f8f9fa;
$background: #405262;
$text: #212529;
$text-light: #4f5a65;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$link: #2e46c1;
$blue: $secondary;
